<div class="related">

<h1>Текст переливаются разными цветами</h1>
<br>
<script type="text/javascript">
var message="VLADOS"
var neonbasecolor="#990000"
var neontextcolor="red"
var neontextcolor2="#FFFFA8"
var flashspeed=100
var flashingletters=3
var flashingletters2=1
var flashpause=0
var n=0
if (document.all||document.getElementById){
   document.write('<font color="'+neonbasecolor+'" size=+2>')
   for (m=0;m<message.length;m++)
    document.write('<span id="neonlight'+m+'">'+message.charAt(m)+'</span>')
   document.write('</font>')
}
else
   document.write(message)
function crossref(number){
   var crossobj=document.all? eval("document.all.neonlight"+number) : document.getElementById("neonlight"+number)
   return crossobj
}
function neon(){
   //Change all letters to base color
   if (n==0){
    for (m=0;m<message.length;m++)
    crossref(m).style.color=neonbasecolor
    }
   crossref(n).style.color=neontextcolor
   if (n>flashingletters-1) crossref(n-flashingletters).style.color=neontextcolor2
   if (n>(flashingletters+flashingletters2)-1) crossref(n-flashingletters-flashingletters2).style.color=neonbasecolor
   if (n<message.length-1) n++
   else{
    n=0
    clearInterval(flashing)
    setTimeout("beginneon()",flashpause)
    return
    }
}
function beginneon(){
   if (document.all||document.getElementById)
   flashing=setInterval("neon()",flashspeed)
}
beginneon()
</script>

  <h1 >You may also enjoy:</h1>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <h3>
              <a href="{{ site.github.url }}{{ mypost.url }}">
                {{ mypost.title }}
                <!--<img src="{{ site.url }}{{ site.baseurl }}/images/{{ mypost.image.teaser }}">-->
                <!--<small>{{ mypost.date | date: "%B %-d, %Y" }}</small>-->
              </a>
            </h3>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
